<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1ff05820-ce66-4684-8ab9-45a48365b199" Alias="teste" Level="1">
  <Info>
    <Name>Teste</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Teste</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="922e22df-c991-4c41-9131-a6057a4d1773">Teste</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>24baa3f2-d243-469c-916d-07463d5628ec</Key>
      <Name>texto</Name>
      <Alias>texto</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>teste</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>teste</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>